*{
    margin: 0 auto;
}
.circle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2%;
  }
  
  .logo-img {
    border-radius: 50%;
    border: 1px soild black;
  }
  .head {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    color: #fd6721;
    font-family: "Arvo", serif;
    font-weight: lighter;
  }
  .heading {
    margin: 1rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: "Baskervville", serif;
    color: #fd6721;
    font-weight: lighter;
  }
.project-zone{
    padding: 1rem;
    margin: 0px auto;
}
.wrapper{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 3fr));
    justify-content: center;
}
.box > img{
    width: 100%;
}
.zone{
    margin:10px 10px;
    box-shadow: 0px 8px #fcfcfc;
    text-align: center;
}
hr{
    border: 1px solid #f76e32;
    width: 60%;
    opacity:0.8;
}
.button {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px auto;
  }
  button {
    background: #fafafa;
    padding: 0.5rem;
    width: 200px;
    font-family: "B612 Mono", monospace;
    border: 2px solid #fd6721;
    border-radius: 3px;
    color: #fd6721;
  }
  button:hover {
    background-color: #f76e32;
    color: #fafaf2;
    border: 2px solid #fd6721;
    transition: 0.8s all ease-in-out;
  }