@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@200;300;400;500;700&display=swap');
/* 
font-family: 'Poppins', sans-serif; */
body{
    padding-top:80px;
    font-family: 'Poppins', sans-serif; 
}


/**************Navbar************************/

.nav-bg{
    background-color: #eeeeee;
    box-shadow: 0px 8px 16px #cacaca;
    color: #5c3eee;
}
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 30%;
        height: 100%;
        background-color: #ece8ff;
    }

    .navbar-collapse.collapsing {
        left: -30%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}
.navbar ul li a i {
    color: #5c3eee;
    font-size: 1.5em !important;
}
.navbar ul li a {
    color: #5c3eee;
    font-size: 0.8em;
    font-family:'Poppins', sans-serif;
    font-weight:400 ;
}
.navbar-brand h5 span {
    color: #5c3eee;
}
.navbar-brand h5{
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
}
.navbar-toggler i {
    color: #5c3eee;
}
.content{
    top: 50%;
    position:relative;
    transform: translateY(-50%);
    text-align: left;

}

.large-text{
    font-family:'Poppins', sans-serif !important ;

}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.content-img img{
    background-color: #5c3eee;
    background-position:center;
    border: 4px solid #5c3eee;
    box-shadow: 4px 4px 8px #aaaaaa;
    filter:saturate(2);
    height: 400px;
    border-radius: 30px;
}
ul{
    list-style-type: none;
}
.about .fa{
    line-height: 1.8em;
    color: #5c3eee;
    padding: 10px 10px;
    font-size: 1.2em;
}
/* .fa{

} */

.timeline {
    position: relative;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #0040ff;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #5c3eee;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #d4def5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #d4def5;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #ffffff;
    border: 2px dashed #001555;
}
.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #5c3eee;
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #0076fd 0%, #5c3eee 100%);
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}

.btn-skills{
    background: #faf9ff;
    border: 2px solid #5c3eee;
    text-align: center;
    padding: 5px 0px;
    text-transform: uppercase;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 30px 30px 30px 30px;
    width: 200px;
    max-width: 100%;
    box-shadow: 4px 4px 8px rgb(233, 232, 232);
}
.contact-card{
    width: 400px;
    max-width:100%;
    border: 1px solid  #0076fd;
    box-shadow: 4px 8px 16px #959595b2;
}

.fa-telegram{
    color: #0040ff;
}