* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cd-section {
    height: 100vh;
    background-color: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #21242b, #3e4348, #2c2c2c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #21242b, #3e4348, #2c2c2c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    background-color: transparent;

}

.text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h1 {
    font-size: 5em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: whitesmoke;
    opacity: 0.09;
    z-index: 0;
}

.text-left {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);

}

.brand-text {
    color: #fffff5;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.18em;
    font-size: 3em;
    text-transform: uppercase;
}

.akhil,
.sub-text {
    color: tomato;
}

.sub-text {
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    background-color: transparent;
    border: 0px;
    color: tomato;
}

.btn:hover {
    color: tomato;
}

.glass {
    height: 25%;
    top:100%;
    left:0;
    position: absolute;
    transform: translate(0%, -100%);
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}